<?xml version="1.0" encoding="utf-8"?>
<widget id="com.mhdigital.myexpenses" version="5.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MyExpenses</name>
  <description>Offline income and expense tracker</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">MyExpenses</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="mailto:*" />
  <preference name="AndroidXEnabled" value="true" />
  <preference name="SplashScreenDelay" value="0" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="Fullscreen" value="false" />
  <plugin name="cordova-plugin-file" spec="8.1.0" />
  <icon src="www/img/logo.png" />
</widget>
